.app {
  text-align: center;
}

.app-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.app-main {
  padding: 20px;
}

.app-footer {
  background-color: #282c34;
  padding: 10px;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto; 
  max-width: 1200px; 
}


.product-item {
  border: 1px solid #ddd;
  padding: 16px;
  margin: 16px;
  width: calc(25% - 32px); 
  box-sizing: border-box; 
  text-align: center; 
}

.rating-box {
  margin-top: 8px;
}

.product-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.product-list {
  list-style: none;
  padding: 0;
  
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px; 
  margin: 0 auto;
}

